<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <title>Missing Link</title>
</head>

<body>
    <h2 class = "header"><a href = "index.html">The Ultimate Survivor Database</a></h2>
    <ul class = "horizontal-navbar">
       
        <li><a href= "connections.html">The Missing Link</a></li>
        <li><a href= "diversity.html">Diversity Graphs</a></li>
       
    </ul>
    <div align="center">

        <h1>The Missing Link</h1>

    </div>
       
    <div align="center">
        <h2>Choose two contestants and see if there is anyone that connects them! </h2>
    </div>
   
        <div class = "column1">
            <p>Contestant 1</p>
            <input type = 'text' id='source'></input>
            <p>Contestant 2</p>
            <input type = 'text' id='target'></input>
            <button id="find_link"> Find link!</button>

        </div>
        <div class = "column4"> <ul id="path"></ul> </div>

    

</body>
</html>