<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Search Contestants</title>
</head>

<body>
    <h2 class = "header"><a href = "index.html">The Ultimate Survivor Database</a></h2>
    
    <ul class = "horizontal-navbar">
            <li><a href= "search.html">Search Contestants</a></li>
            <li><a href= "connections.html">The Missing Link</a></li>
            <li><a href= "diversity.html">Diversity Graphs</a></li>
    </ul>
    <br></br>
    <div align="center">

        <h1>
            Search for Contestant Information!
        </h1>

    </div>

    <div align="center">
        <h2> Search for a name to see whether a contestant of that name has competed in survivor, as well as their age when featured, hometown, occupation, and season featured!  </h2>
    </div>
    <br></br>
    <div align="center">
    <p><button id="contestants_button"> Search Contestant Names</button>
        <input type = "text" id = "contestant_search_text" placeholder="ex: Aaron Meredith">
        </p>
        <p><table id="contestants_table"></table></p>
    </div>

        
</body>
</html>
